<div class="main-content">
  <div class="header text-center">
    <h3 class="title">Timeline</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-timeline card-plain">
        <div class="card-body">
          <ul class="timeline">
            <li class="timeline-inverted">
              <div class="timeline-badge danger">
                <i class="nc-icon nc-single-copy-04"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-danger"></span>
                </div>
                <div class="timeline-body">
                  <p></p>
                </div>
                <h6>
                  <i class="fa fa-clock-o"></i> 
                </h6>
              </div>
            </li>
            <li>
              <div class="timeline-badge success">
                <i class="nc-icon nc-sun-fog-29"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-success"></span>
                </div>
                <div class="timeline-body">
                  <p></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge info">
                <i class="nc-icon nc-world-2"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-info"></span>
                </div>
                <div class="timeline-body">
                  <p></p>
                  <hr>
                </div>
                <div class="timeline-footer">
                  <div class="dropdown">
                    <button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
                      <i class="nc-icon nc-settings-gear-65"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0)"></a>
                      <a class="dropdown-item" href="javascript:void(0)"></a>
                      <a class="dropdown-item" href="javascript:void(0)"></a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge warning">
                <i class="nc-icon nc-istanbul"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-warning"></span>
                </div>
                <div class="timeline-body">
                  <p></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
