<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <p>Dashboard works!</p>
    </div>
  </div>
</div>

<!-- <div class="main-content">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-globe text-warning"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-title"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category"></p>
                <p class="card-title"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats">
            <i class="fa fa-calendar-o"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-vector text-danger"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category"></p>
                <p class="card-title"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats">
            <i class="fa fa-clock-o"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-favourite-28 text-primary"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category"></p>
                <p class="card-title"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats">
            <i class="fa fa-refresh"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              <div class="numbers pull-left"></div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <span class="badge badge-pill badge-success"> </span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="big-title"></h6>
          <canvas id="activeUsers" width="826" height="380"></canvas>
        </div>
        <div class="card-footer">
          <hr />
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title"></div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <button class="btn btn-success btn-round btn-icon btn-sm">
                  <i class="nc-icon nc-simple-add"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              <div class="numbers pull-left"></div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <span class="badge badge-pill badge-danger"> </span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="big-title"></h6>
          <canvas id="emailsCampaignChart" width="826" height="380"></canvas>
        </div>
        <div class="card-footer">
          <hr />
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title"></div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <button class="btn btn-danger btn-round btn-icon btn-sm">
                  <i class="nc-icon nc-button-play"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-7">
              <div class="numbers pull-left"></div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <span class="badge badge-pill badge-warning"> </span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="big-title"></h6>
          <canvas id="activeCountries" width="826" height="380"></canvas>
        </div>
        <div class="card-footer">
          <hr />
          <div class="row">
            <div class="col-sm-7">
              <div class="footer-title"></div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right">
                <button class="btn btn-warning btn-round btn-icon btn-sm">
                  <i class="nc-icon nc-alert-circle-i"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"></h4>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="flag">
                          <img src="./assets/img/flags/US.png" />
                        </div>
                      </td>
                      <td></td>
                      <td class="text-right"></td>
                      <td class="text-right"></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="flag">
                          <img src="./assets/img/flags/DE.png" />
                        </div>
                      </td>
                      <td></td>
                      <td class="text-right"></td>
                      <td class="text-right"></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="flag">
                          <img src="./assets/img/flags/AU.png" />
                        </div>
                      </td>
                      <td></td>
                      <td class="text-right"></td>
                      <td class="text-right"></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="flag">
                          <img src="./assets/img/flags/GB.png" />
                        </div>
                      </td>
                      <td></td>
                      <td class="text-right"></td>
                      <td class="text-right"></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="flag">
                          <img src="./assets/img/flags/RO.png" />
                        </div>
                      </td>
                      <td></td>
                      <td class="text-right"></td>
                      <td class="text-right"></td>
                    </tr>
                    <tr>
                      <td>
                        <div class="flag">
                          <img src="./assets/img/flags/BR.png" />
                        </div>
                      </td>
                      <td></td>
                      <td class="text-right"></td>
                      <td class="text-right"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
              <div id="worldMap" style="height: 300px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-tasks">
        <div class="card-header">
          <h4 class="card-title"></h4>
          <h5 class="card-category"></h5>
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          checked
                        />
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper">
                      <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left"></td>
                  <td class="td-actions text-right">
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="
                        btn
                        btn-info
                        btn-round
                        btn-icon
                        btn-icon-mini
                        btn-neutral
                      "
                      data-original-title="Edit Task"
                    >
                      <i class="nc-icon nc-ruler-pencil"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="
                        btn
                        btn-danger
                        btn-round
                        btn-icon
                        btn-icon-mini
                        btn-neutral
                      "
                      data-original-title="Remove"
                    >
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" />
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper">
                      <img src="./assets/img/faces/erik-lucatero-2.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left"></td>
                  <td class="td-actions text-right">
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="
                        btn
                        btn-info
                        btn-round
                        btn-icon
                        btn-icon-mini
                        btn-neutral
                      "
                      data-original-title="Edit Task"
                    >
                      <i class="nc-icon nc-ruler-pencil"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="
                        btn
                        btn-danger
                        btn-round
                        btn-icon
                        btn-icon-mini
                        btn-neutral
                      "
                      data-original-title="Remove"
                    >
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          checked
                        />
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper">
                      <img src="./assets/img/faces/kaci-baum-2.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left"></td>
                  <td class="td-actions text-right">
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="
                        btn
                        btn-info
                        btn-round
                        btn-icon
                        btn-icon-mini
                        btn-neutral
                      "
                      data-original-title="Edit Task"
                    >
                      <i class="nc-icon nc-ruler-pencil"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="
                        btn
                        btn-danger
                        btn-round
                        btn-icon
                        btn-icon-mini
                        btn-neutral
                      "
                      data-original-title="Remove"
                    >
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" />
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper">
                      <img src="./assets/img/faces/joe-gardner-2.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left"></td>
                  <td class="td-actions text-right">
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="
                        btn
                        btn-info
                        btn-round
                        btn-icon
                        btn-icon-mini
                        btn-neutral
                      "
                      data-original-title="Edit Task"
                    >
                      <i class="nc-icon nc-ruler-pencil"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="
                        btn
                        btn-danger
                        btn-round
                        btn-icon
                        btn-icon-mini
                        btn-neutral
                      "
                      data-original-title="Remove"
                    >
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <hr />
          <div class="stats">
            <i class="fa fa-refresh spin"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"></h4>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
          <canvas id="chartActivity"></canvas>
        </div>
        <div class="card-footer">
          <div class="legend">
            <i class="fa fa-circle text-info"></i>
            <i class="fa fa-circle text-danger"></i>
          </div>
          <hr />
          <div class="stats">
            <i class="fa fa-check"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"></h5>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
          <canvas
            id="chartDonut1"
            class="ct-chart ct-perfect-fourth"
            width="456"
            height="300"
          ></canvas>
        </div>
        <div class="card-footer">
          <div class="legend">
            <i class="fa fa-circle text-info"></i>
          </div>
          <hr />
          <div class="stats">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"></h5>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
          <canvas
            id="chartDonut2"
            class="ct-chart ct-perfect-fourth"
            width="456"
            height="300"
          ></canvas>
        </div>
        <div class="card-footer">
          <div class="legend">
            <i class="fa fa-circle text-warning"></i>
          </div>
          <hr />
          <div class="stats">
            <i class="fa fa-check"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"></h5>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
          <canvas
            id="chartDonut3"
            class="ct-chart ct-perfect-fourth"
            width="456"
            height="300"
          ></canvas>
        </div>
        <div class="card-footer">
          <div class="legend">
            <i class="fa fa-circle text-danger"></i>
          </div>
          <hr />
          <div class="stats">
            <i class="fa fa-clock-o"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title"></h5>
          <p class="card-category"></p>
        </div>
        <div class="card-body">
          <canvas
            id="chartDonut4"
            class="ct-chart ct-perfect-fourth"
            width="456"
            height="300"
          ></canvas>
        </div>
        <div class="card-footer">
          <div class="legend">
            <i class="fa fa-circle text-secondary"></i>
          </div>
          <hr />
          <div class="stats">
            <i class="fa fa-history"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
