<div class="main-content">
  <div class="row">
    <div class="col-lg-6 col-md-12 text-center">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h4 class="card-title">Tasks</h4>
          <h5 class="card-category">Backend development</h5>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper">
                      <img src="./assets/img/faces/ayo-ogunseinde-2.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left">Sign contract for "What are conference organizers afraid of?"</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="nc-icon nc-ruler-pencil"></i>
                    </button>
                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper">
                      <img src="./assets/img/faces/erik-lucatero-2.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left">Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="nc-icon nc-ruler-pencil"></i>
                    </button>
                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper">
                      <img src="./assets/img/faces/kaci-baum-2.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left">
                  </td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="nc-icon nc-ruler-pencil"></i>
                    </button>
                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper">
                      <img src="./assets/img/faces/joe-gardner-2.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left"></td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="nc-icon nc-ruler-pencil"></i>
                    </button>
                    <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-refresh spin"></i> 
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-text">
            <h4 class="card-title"></h4>
            <p class="card-category"></p>
          </div>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Country</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-timeline card-plain">
        <div class="card-body">
          <ul class="timeline timeline-simple">
            <li class="timeline-inverted">
              <div class="timeline-badge danger">
                <i class="nc-icon nc-single-copy-04"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-danger"></span>
                </div>
                <div class="timeline-body">
                  <p></p>
                </div>
                <h6>
                  <i class="ti-time"></i> 
                </h6>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge success">
                <i class="nc-icon nc-sun-fog-29"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-success">Another One</span>
                </div>
                <div class="timeline-body">
                  <p></p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge info">
                <i class="nc-icon nc-world-2"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <span class="badge badge-pill badge-info">Another Title</span>
                </div>
                <div class="timeline-body">
                  <p></p>
                  <p></p>
                  <hr>
                </div>
                <div class="timeline-footer">
                  <div class="dropdown">
                    <button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
                      <i class="nc-icon nc-settings-gear-65"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0)">Action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                      <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-pricing ">
            <div class="card-header">
              <h6 class="card-category"></h6>
            </div>
            <div class="card-body">
              <div class="card-icon icon-primary ">
                <i class="nc-icon nc-spaceship"></i>
              </div>
              <h3 class="card-title"></h3>
              <ul>
                <li></li>
                <li>/li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="javascript:void(0)" class="btn btn-round btn-primary"></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card card-pricing card-plain">
            <div class="card-header">
              <h6 class="card-category"> </h6>
            </div>
            <div class="card-body">
              <div class="card-icon icon-warning ">
                <i class="nc-icon nc-shop"></i>
              </div>
              <h3 class="card-title"></h3>
              <ul>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="card-footer">
              <a href="javascript:void(0)" class="btn btn-round btn-neutral btn-warning"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-testimonial">
        <div class="card-body ">
          <div class="icon icon-primary">
            <i class="fa fa-quote-right"></i>
          </div>
          <p class="card-description">
            
          </p>
        </div>
        <div class="card-footer ">
          <h4 class="card-title"></h4>
          <h6 class="card-category"></h6>
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/joe-gardner-2.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
